*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree', 'Open sans';
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: hsl(0, 0%, 100%);

    width: 18.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;

    
   -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

}


.img-principal{

    width: 270px;
    height: 155px;
    background-image: url(../assets/images/illustration-article.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1rem;
    border-radius: 12px;
}


.div-conteudos{
    
    width: 270px;
    margin-top: 1rem;  
}

.div-conteudos .p1{
    font-size: 1rem;
    width: 28%;
    background-color: hsl(47, 88%, 63%);
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    font-weight: 800;
    font-size: 13px;
    color:  hsl(0, 0%, 7%);
}

.div-conteudos .p3{
    font-weight: 100;
}
h3{
     margin-top: 1rem;
     margin-bottom: 1rem;
}
h3:hover{
     cursor: pointer;
     color:hsl(47, 88%, 63%); ;
}


.div-avatar{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
}

.div-avatar img{
    width: 15%;
}
.div-avatar p{
    margin-top: 12px;
    margin-left: 10px;
}
